In [2]:
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv("../input/train.csv")

In [5]:
train.columns

Index(['id', 'bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1',
       'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9',
       'ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5', 'day', 'month',
       'target'],
      dtype='object')

In [7]:
noms = [i for i in train.columns if i[:3]=='nom']

In [8]:
bins = [i for i in train.columns if i[:3]=='bin']
ords = [i for i in train.columns if i[:3]=='ord']

In [13]:
bins

['bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4']

In [14]:
ords

['ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5']

In [17]:
noms

['nom_0',
 'nom_1',
 'nom_2',
 'nom_3',
 'nom_4',
 'nom_5',
 'nom_6',
 'nom_7',
 'nom_8',
 'nom_9']

## Noms

In [18]:
for i in noms:
    print(i)
    print(train[i].value_counts())
    print(train[i].nunique())
    print('*'*20)

nom_0
Green    127341
Blue      96166
Red       76493
Name: nom_0, dtype: int64
3
********************
nom_1
Trapezoid    101181
Square        49597
Star          45904
Circle        37320
Polygon       36143
Triangle      29855
Name: nom_1, dtype: int64
6
********************
nom_2
Lion       101295
Cat         49659
Snake       45979
Dog         37444
Axolotl     36136
Hamster     29487
Name: nom_2, dtype: int64
6
********************
nom_3
Russia        101123
Canada         49951
China          46044
Finland        36942
Costa Rica     35988
India          29952
Name: nom_3, dtype: int64
6
********************
nom_4
Oboe        92293
Piano       84517
Bassoon     68448
Theremin    54742
Name: nom_4, dtype: int64
4
********************
nom_5
f7821e391    2801
06eeaf0aa    2750
472efea17    2729
20b10a832    2725
b97f51ac4    2717
             ...
91c80026f      64
88f104c00      59
f802a9849      46
1fd0233cd      41
f710fca39      26
Name: nom_5, Length: 222, dtype: int64
222
********************
nom_6
d173ac7ca    1218
2ed5a94b0    1210
c9eedfbc2    1193
50d7ad46a    1175
0922e3cb8    1169
             ...
26bf5ddd9      16
28630a5c8      12
8367b78fc      11
e97824431       8
4dcab4fc8       5
Name: nom_6, Length: 522, dtype: int64
522
********************
nom_7
3a114adea    534
6f3940b72    518
3b679e531    518
fcf2b8dce    517
fe27cc23d    515
            ...
bc05442e1      3
2b5df4f24      3
446df0c98      3
74a1b69b1      2
3460d7c4b      1
Name: nom_7, Length: 1220, dtype: int64
1220
********************
nom_8
c720f85ca    299
9ff6898e5    294
3cec7c3f5    292
d69adef8b    288
17ba84114    287
            ...
5361d3b53      2
44f729e5a      2
4b30750de      1
83a266f13      1
40b8df5b6      1
Name: nom_8, Length: 2215, dtype: int64
2215
********************
nom_9
163cc60fa    72
21578b358    70
e8be2364b    67
412859a59    67
f12f038cc    66
             ..
9a34978fd     1
9c5190350     1
1c2487c11     1
ed6fb6436     1
e05e4c676     1
Name: nom_9, Length: 11981, dtype: int64
11981
********************

In [21]:
ohe = [i for i in noms if train[i].nunique()<10]
target_mean = [i for i in noms if train[i].nunique()>10]

In [22]:
print(ohe)
print(target_mean)

['nom_0', 'nom_1', 'nom_2', 'nom_3', 'nom_4']
['nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9']

## Bins

In [23]:
for i in bins:
    print(i)
    print(train[i].value_counts())
    print(train[i].nunique())
    print('*'*20)

bin_0
0    261749
1     38251
Name: bin_0, dtype: int64
2
********************
bin_1
0    223018
1     76982
Name: bin_1, dtype: int64
2
********************
bin_2
0    185033
1    114967
Name: bin_2, dtype: int64
2
********************
bin_3
T    153535
F    146465
Name: bin_3, dtype: int64
2
********************
bin_4
Y    191633
N    108367
Name: bin_4, dtype: int64
2
********************

#### Binaries are easy as they have only 2 categories we can just do dummy encoding

## Ords

In [24]:
for i in ords:
    print(i)
    print(train[i].value_counts())
    print(train[i].nunique())
    print('*'*20)

ord_0
1    194846
2     66438
3     38716
Name: ord_0, dtype: int64
3
********************
ord_1
Novice         126583
Grandmaster     77428
Contributor     42871
Master          28053
Expert          25065
Name: ord_1, dtype: int64
5
********************
ord_2
Freezing       99816
Lava Hot       63908
Boiling Hot    60627
Cold           33768
Hot            22227
Warm           19654
Name: ord_2, dtype: int64
6
********************
ord_3
g    36405
l    36124
a    35276
k    28619
i    28048
h    24740
j    24647
f    22384
e    21331
b    11916
o    11320
d     7904
c     6944
n     4014
m      328
Name: ord_3, dtype: int64
15
********************
ord_4
L    19066
G    18899
S    18875
A    18258
R    16927
Q    15925
K    14698
I    14644
Z    14232
T    14220
V    14143
J    12878
P    12839
U    12775
H    12743
F    11717
E    11303
W     9197
Y     8490
X     6292
B     6169
O     5836
D     3974
C     3575
N     2166
M      159
Name: ord_4, dtype: int64
26
********************
ord_5
od    5019
fO    3435
Zq    2926
sD    2880
qP    2854
      ...
eg      47
tv      40
kU      37
vq      35
Cl      28
Name: ord_5, Length: 192, dtype: int64
192
********************

In [28]:
ordinal_enc = [i for i in ords if train[i].nunique()<27]
target_mean_ord = [i for i in ords if train[i].nunique()>27]

In [29]:
ordinal_enc

['ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4']

In [30]:
target_mean_ord

['ord_5']

In [31]:
bins

['bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4']

ModuleNotFoundError: No module named 'category_encoders'